<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baisiyu.model.mappers.app.ApArticlesMapper">

    <resultMap id="resultMap" type="com.baisiyu.model.articles.pojos.ApArticle">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="author_id" property="authorId"/>
        <result column="author_name" property="authorName"/>
        <result column="channel_id" property="channelId"/>
        <result column="channel_name" property="channelName"/>
        <result column="layout_type" property="layoutType"/>
        <result column="flag" property="flag"/>
        <result column="images" property="images"/>
        <result column="labels" property="labels"/>
        <result column="likes" property="likes"/>
        <result column="collection" property="collection"/>
        <result column="comments" property="comments"/>
        <result column="views" property="views"/>
        <result column="province_id" property="provinceId"/>
        <result column="city_id" property="cityId"/>
        <result column="county_id" property="countyId"/>
        <result column="publish_time" property="publishTime"/>
        <result column="sync_status" property="syncStatus"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, title, author_id, author_name, channel_id, channel_name, layout_type, flag, images,
    labels, likes, collection, comments, views, province_id, city_id, county_id, created_at,
    publish_time,sync_status, updated_at
    </sql>



    <select id="selectById" resultMap="resultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List" />
        from ap_articles
        where id = #{id}
    </select>

    <select id="getApArticleList" resultMap="resultMap">
        select
            <include refid="Base_Column_List"></include>
        from ap_articles
        <where>
            <if test="dto.provinceId != null">
                and province_id = #{dto.provinceId}
            </if>
            <if test="dto.cityId != null">
                and city_id = #{dto.cityId}
            </if>
            <if test="dto.countryId != null">
                and county_id = #{dto.countyId}
            </if>
            <if test="type != null and type ==1">
                and publish_time <![CDATA[<]]>  #{dto.minBeHotTime}
            </if>

            <if test="type != null and type ==2">
                and publish_time <![CDATA[>]]>  #{dto.maxBeHotTime}
            </if>

            <if test="dto.channelId != null ">
                and aa.channel_id = #{dto.channelId}
            </if>
        </where>
        limit #{dto.size}
    </select>


</mapper>