<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baisiyu.model.mappers.app.ApUserMapper">
    <resultMap id="resultMap" type="com.baisiyu.model.user.pojos.ApUser">
        <id column="id" property="id"/>
        <id column="salt" property="salt"></id>
        <id column="username" property="username"></id>
        <id column="password" property="password"></id>
        <id column="phone" property="phone"></id>
        <id column="image" property="image"></id>
        <id column="sex" property="sex"></id>
        <id column="status" property="status"></id>
        <id column="flag" property="flag"></id>
        <id column="created_at" property="createdAt"></id>
        <id column="updatedAt" property="updatedAt"></id>
    </resultMap>

    <sql id="Base_Column_List">
        id,salt,username,password,phone,image,sex,status,flag,created_at,updated_at
    </sql>

    <select id="selectById" resultMap="resultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List" />
        from ap_user
        where id = #{id}
    </select>

    <select id="selectByPhone" resultType="com.baisiyu.model.user.pojos.ApUser">
        select <include refid="Base_Column_List" />
        from ap_user
        where phone = #{phone}
    </select>
    <select id="selectByUsername" resultType="com.baisiyu.model.user.pojos.ApUser">
        select <include refid="Base_Column_List" />
        from ap_user
        where username = #{username}
    </select>
    <select id="selectByIds" resultMap="resultMap">
        select <include refid="Base_Column_List"></include>
        from ap_user
         where id in (
        <trim suffix="" suffixOverrides=",">
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
        </trim>
        )
    </select>
</mapper>
